<header>
    <div class="layout topmenu">
        <div><a href="/"><span class="logo mark"><i class="fas fa-code"></i></span><span class="logo logo-left">HAN</span><span class="logo"> Coding</span></a></div>

        <div></div>
        <div class="right-menu">
            <ul>
                <li><a href="#">강의</a></li>
                <li><a href="/article/list">게시판</a></li>
                <li><a href="login.html">로그인</a></li>
            </ul>
        </div>
        <div class="ham-btn" id="ham-btn">
            <a href="javascript:openSideNav()"><i class="fas fa-bars"></i></a>
        </div>
    </div>
    <div class="sidenav" id="sidenav">
        <a href="javascript:closeSideNav()">&times;</a>
        <a href="#">강의</a>
        <a href="/article/list">게시판</a>
        <a href="login.html">로그인</a>
    </div>
</header>