<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/articlelist.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    
    <script src="/js/articlelist.js"></script>

    <title>한코딩 :: 게시판</title>
</head>


<body>


    <header th:replace="include/header">
    </header>
    <main>
        <div class="list-wrapper layout">
            <h1>전체 게시글</h1>
            <h2>우측에서 게시판을 선택할 수 있습니다.</h2>
            <div class="board-select">
                <div class="page-info">
                    <i class="far fa-file"></i> Total 1 / 1 Page
                </div>
                <div class="board-select-right">
                    <select>
                        <option>웹개발</option>
                        <option>참고자료</option>
                        <option>자바</option>
                        <option>자유</option>
                        <option>빡침</option>
                        <option>공지</option>
                    </select>
                    <a  class= "write-btn" href="/article/write"><i class="far fa-edit"></i> 글작성</a>
                </div>
            </div>
            
            <ul>
               <li class="article-top">
                   <div class="article-num">글번호</div>
                   <div class="article-title"> &nbsp; </div>
                   <div class="article-writer"><i class="far fa-user"></i> 작성자</div>
                   <div class="article-count"><i class="far fa-eye"></i> 조회수</div>
                   <div class="article-regdate"><i class="far fa-clock"></i> 작성일자</div>
                   <div class="article-like"><i class="far fa-thumbs-up"></i> 추천</div>
               </li>
               
               <li style="background-color: #4b7c8136; font-weight: bold;">
                    <div class="article-num">1234</div>
                    
                    <div class="article-title content">
                        <div class="mobile-content">
                            <a href="articleview.html">[공지] 게시판 이용 공지</a>
                        </div>
                        <div class="mobile-content-info">
                            <i class="far fa-user"></i> 관리자 / <i class="far fa-clock"></i> 2021-08-21  / <i class="far fa-eye"></i> 100 / <i class="far fa-thumbs-up"></i> 10
                        </div>
                    </div>
                    <div class="article-writer">한코딩</div>
                    <div class="article-count">100</div>
                    <div class="article-regdate">2021-08-22</div>
                   <div class="article-like">30</div>

                </li>
                <li>
                    <div class="article-num">1234</div>
                    
                    <div class="article-title content">
                        <div class="mobile-content">
                            <a th:href="@{/article/view(idx=1)}">스프링 부트 사용법 알려주세요. 제발 부탁</a>
                        </div>
                        <div class="mobile-content-info">
                            <i class="far fa-user"></i> 한코딩 / <i class="far fa-clock"></i> 2021-08-21  / <i class="far fa-eye"></i> 100 / <i class="far fa-thumbs-up"></i> 10
                        </div>
                    </div>
                    <div class="article-writer">한코딩</div>
                    <div class="article-count">100</div>
                    <div class="article-regdate">2021-08-22</div>
                   <div class="article-like">100</div>
                </li>







                <li>
                    <div class="article-num">1234</div>
                    
                    <div class="article-title content">
                        <div class="mobile-content">
                            <a href="#">스프링 부트 사용법 알려주세요. 제발 부탁</a>
                        </div>
                        <div class="mobile-content-info">
                            <i class="far fa-user"></i> 한코딩 / <i class="far fa-clock"></i> 2021-08-21  / <i class="far fa-eye"></i> 100 / <i class="far fa-thumbs-up"></i> 10
                        </div>
                    </div>
                    <div class="article-writer">한코딩</div>
                    <div class="article-count">100</div>
                    <div class="article-regdate">2021-08-22</div>
                   <div class="article-like">100</div>
                </li>
                <li>
                    <div class="article-num">1234</div>
                    
                    <div class="article-title content">
                        <div class="mobile-content">
                            <a href="#">스프링 부트 사용법 알려주세요. 제발 부탁</a>
                        </div>
                        <div class="mobile-content-info">
                            <i class="far fa-user"></i> 한코딩 / <i class="far fa-clock"></i> 2021-08-21  / <i class="far fa-eye"></i> 100 / <i class="far fa-thumbs-up"></i> 10
                        </div>
                    </div>
                    <div class="article-writer">한코딩</div>
                    <div class="article-count">100</div>
                    <div class="article-regdate">2021-08-22</div>
                   <div class="article-like">100</div>
                </li>
                <li>
                    <div class="article-num">1234</div>
                    
                    <div class="article-title content">
                        <div class="mobile-content">
                            <a href="#">스프링 부트 사용법 알려주세요. 제발 부탁</a>
                        </div>
                        <div class="mobile-content-info">
                            <i class="far fa-user"></i> 한코딩 / <i class="far fa-clock"></i> 2021-08-21  / <i class="far fa-eye"></i> 100 / <i class="far fa-thumbs-up"></i> 10
                        </div>
                    </div>
                    <div class="article-writer">한코딩</div>
                    <div class="article-count">100</div>
                    <div class="article-regdate">2021-08-22</div>
                   <div class="article-like">100</div>
                </li>
                <li>
                    <div class="article-num">1234</div>
                    
                    <div class="article-title content">
                        <div class="mobile-content">
                            <a href="#">스프링 부트 사용법 알려주세요. 제발 부탁</a>
                        </div>
                        <div class="mobile-content-info">
                            <i class="far fa-user"></i> 한코딩 / <i class="far fa-clock"></i> 2021-08-21  / <i class="far fa-eye"></i> 100 / <i class="far fa-thumbs-up"></i> 10
                        </div>
                    </div>
                    <div class="article-writer">한코딩</div>
                    <div class="article-count">100</div>
                    <div class="article-regdate">2021-08-22</div>
                   <div class="article-like">100</div>
                </li>
                <li>
                    <div class="article-num">1234</div>
                    
                    <div class="article-title content">
                        <div class="mobile-content">
                            <a href="#">스프링 부트 사용법 알려주세요. 제발 부탁</a>
                        </div>
                        <div class="mobile-content-info">
                            <i class="far fa-user"></i> 한코딩 / <i class="far fa-clock"></i> 2021-08-21  / <i class="far fa-eye"></i> 100 / <i class="far fa-thumbs-up"></i> 10
                        </div>
                    </div>
                    <div class="article-writer">한코딩</div>
                    <div class="article-count">100</div>
                    <div class="article-regdate">2021-08-22</div>
                   <div class="article-like">100</div>
                </li>
                <li>
                    <div class="article-num">1234</div>
                    
                    <div class="article-title content">
                        <div class="mobile-content">
                            <a href="#">스프링 부트 사용법 알려주세요. 제발 부탁</a>
                        </div>
                        <div class="mobile-content-info">
                            <i class="far fa-user"></i> 한코딩 / <i class="far fa-clock"></i> 2021-08-21  / <i class="far fa-eye"></i> 100 / <i class="far fa-thumbs-up"></i> 10
                        </div>
                    </div>
                    <div class="article-writer">한코딩</div>
                    <div class="article-count">100</div>
                    <div class="article-regdate">2021-08-22</div>
                   <div class="article-like">100</div>
                </li>
                <li>
                    <div class="article-num">1234</div>
                    
                    <div class="article-title content">
                        <div class="mobile-content">
                            <a href="#">스프링 부트 사용법 알려주세요. 제발 부탁</a>
                        </div>
                        <div class="mobile-content-info">
                            <i class="far fa-user"></i> 한코딩 / <i class="far fa-clock"></i> 2021-08-21  / <i class="far fa-eye"></i> 100 / <i class="far fa-thumbs-up"></i> 10
                        </div>
                    </div>
                    <div class="article-writer">한코딩</div>
                    <div class="article-count">100</div>
                    <div class="article-regdate">2021-08-22</div>
                   <div class="article-like">100</div>
                </li>
                <li>
                    <div class="article-num">1234</div>
                    
                    <div class="article-title content">
                        <div class="mobile-content">
                            <a href="#">스프링 부트 사용법 알려주세요. 제발 부탁</a>
                        </div>
                        <div class="mobile-content-info">
                            <i class="far fa-user"></i> 한코딩 / <i class="far fa-clock"></i> 2021-08-21  / <i class="far fa-eye"></i> 100 / <i class="far fa-thumbs-up"></i> 10
                        </div>
                    </div>
                    <div class="article-writer">한코딩</div>
                    <div class="article-count">100</div>
                    <div class="article-regdate">2021-08-22</div>
                   <div class="article-like">100</div>
                </li>
                <li>
                    <div class="article-num">1234</div>
                    
                    <div class="article-title content">
                        <div class="mobile-content">
                            <a href="#">스프링 부트 사용법 알려주세요. 제발 부탁</a>
                        </div>
                        <div class="mobile-content-info">
                            <i class="far fa-user"></i> 한코딩 / <i class="far fa-clock"></i> 2021-08-21  / <i class="far fa-eye"></i> 100 / <i class="far fa-thumbs-up"></i> 10
                        </div>
                    </div>
                    <div class="article-writer">한코딩</div>
                    <div class="article-count">100</div>
                    <div class="article-regdate">2021-08-22</div>
                   <div class="article-like">100</div>
                </li>
                <li>
                    <div class="article-num">1234</div>
                    
                    <div class="article-title content">
                        <div class="mobile-content">
                            <a href="#">스프링 부트 사용법 알려주세요. 제발 부탁</a>
                        </div>
                        <div class="mobile-content-info">
                            <i class="far fa-user"></i> 한코딩 / <i class="far fa-clock"></i> 2021-08-21  / <i class="far fa-eye"></i> 100 / <i class="far fa-thumbs-up"></i> 10
                        </div>
                    </div>
                    <div class="article-writer">한코딩</div>
                    <div class="article-count">100</div>
                    <div class="article-regdate">2021-08-22</div>
                   <div class="article-like">100</div>
                </li>
                <li>
                    <div class="article-num">1234</div>
                    
                    <div class="article-title content">
                        <div class="mobile-content">
                            <a href="#">스프링 부트 사용법 알려주세요. 제발 부탁</a>
                        </div>
                        <div class="mobile-content-info">
                            <i class="far fa-user"></i> 한코딩 / <i class="far fa-clock"></i> 2021-08-21  / <i class="far fa-eye"></i> 100 / <i class="far fa-thumbs-up"></i> 10
                        </div>
                    </div>
                    <div class="article-writer">한코딩</div>
                    <div class="article-count">100</div>
                    <div class="article-regdate">2021-08-22</div>
                   <div class="article-like">100</div>
                </li>
                <li>
                    <div class="article-num">1234</div>
                    
                    <div class="article-title content">
                        <div class="mobile-content">
                            <a href="#">스프링 부트 사용법 알려주세요. 제발 부탁</a>
                        </div>
                        <div class="mobile-content-info">
                            <i class="far fa-user"></i> 한코딩 / <i class="far fa-clock"></i> 2021-08-21  / <i class="far fa-eye"></i> 100 / <i class="far fa-thumbs-up"></i> 10
                        </div>
                    </div>
                    <div class="article-writer">한코딩</div>
                    <div class="article-count">100</div>
                    <div class="article-regdate">2021-08-22</div>
                   <div class="article-like">100</div>
                </li>
                <li>
                    <div class="article-num">1234</div>
                    
                    <div class="article-title content">
                        <div class="mobile-content">
                            <a href="#">스프링 부트 사용법 알려주세요. 제발 부탁</a>
                        </div>
                        <div class="mobile-content-info">
                            <i class="far fa-user"></i> 한코딩 / <i class="far fa-clock"></i> 2021-08-21  / <i class="far fa-eye"></i> 100 / <i class="far fa-thumbs-up"></i> 10
                        </div>
                    </div>
                    <div class="article-writer">한코딩</div>
                    <div class="article-count">100</div>
                    <div class="article-regdate">2021-08-22</div>
                   <div class="article-like">100</div>
                </li>
                <li>
                    <div class="article-num">1234</div>
                    
                    <div class="article-title content">
                        <div class="mobile-content">
                            <a href="#">스프링 부트 사용법 알려주세요. 제발 부탁</a>
                        </div>
                        <div class="mobile-content-info">
                            <i class="far fa-user"></i> 한코딩 / <i class="far fa-clock"></i> 2021-08-21  / <i class="far fa-eye"></i> 100 / <i class="far fa-thumbs-up"></i> 10
                        </div>
                    </div>
                    <div class="article-writer">한코딩</div>
                    <div class="article-count">100</div>
                    <div class="article-regdate">2021-08-22</div>
                   <div class="article-like">100</div>
                </li>
            </ul>
            <div class="search">
                <div class="search-left">
                    <input type="text" autocomplete="off"><button type="button">검색</button>
                </div>
                <a  class= "write-btn" href="articlewrite.html"><i class="far fa-edit"></i> 글작성</a>
            </div>
            <div class="page-block">
                <a href="#">이전</a>
                <span><a href="#" style="background-color: #4b7c81e7; color : white;border: 1px solid #4b7c81e7;">1</a></span>
                <span><a href="#">2</a></span>
                <span><a href="#">3</a></span>
                <span><a href="#">4</a></span>
                <span><a href="#">5</a></span>
                <a href="#">다음</a>
            </div>
        </div>
    </main>
    <footer th:replace="include/footer">
    </footer>
</body>
</html>