<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/articlewrite.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="/js/articlewrite.js"></script>




    <title>한코딩 :: 글작성</title>
</head>
<body>
<header th:replace="include/header">
</header>
<main>
    <div class="board-wrapper layout">
        <h1>글작성</h1>
        <div class="board-select">
            <h2>자유롭게 글을 작성해주세요!</h2>
            <select name="board_name">
                <option value="웹개발">웹개발</option>
                <option value="참고자료">참고자료</option>
                <option value="자바">자바</option>
                <option value="자유">자유</option>
                <option value="빡침">빡침</option>
                <option value="공지">공지</option>
            </select>
        </div>
        <div class="board-write-wrapper">
            <form action="/article/write" method="post" name="write_form">
                <input type="text" name="title" class="title" placeholder="제목" autocomplete="off">
                <div id="editor" style="font-family: 'LotteMartDream', sans-serif !important;"></div>
                <div class="write-btn">
                    <a href="javascript:write()"><i class="far fa-edit"></i> 작성</a>
                </div>
                <textarea name="content" id="content" style="display: none"></textarea>
            </form>
        </div>
    </div>
</main>
<footer th:replace="include/footer">
</footer>
</body>


<script>

    const Editor = toastui.Editor;

    const editor = new Editor({
        el: document.querySelector('#editor'),
        height: '450px',
        initialEditType: 'wysiwyg',
        previewStyle: 'vertical'
    });

    function write() {

        const toastContent = editor.getHTML();

        const content = document.getElementById("content");

        content.value = toastContent;

        if(write_form.title.value == '') {
            alert('제목을 입력해 주세요.');
            write_form.title.focus();
            return;
        }else if(write_form.content.value == '') {
            alert('내용을 입력해 주세요.');
            write_form.content.focus();
            return;

        }

        write_form.submit();

    }

</script>

</html>