@font-face {
    font-family: 'LotteMartDream';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
  }
  @font-face {
    font-family: 'LotteMartDream';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
  }
  @font-face {
    font-family: 'LotteMartDream';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
  }
  .lottemartdream * {
   font-family: 'LotteMartDream', sans-serif;
  }

body {
   font-family: 'LotteMartDream', sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 100vh;
}

h1 {
    color: #4b7c81;
}


h1, h2 {
    font-size: 28px;
    font-weight: bold;
    padding : 10px 0;
}

h2{
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 10px;
}

p {
    line-height: 24px;
}


/* util */


.layout {
    margin : 0 auto;
    width : 80%;
    max-width: 920px;
}


select{
    background-color: white;
    padding : 6px;
    width: 80px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #666;
    color: #555;
    text-align: left;

}

@media screen and (max-width : 990px) {
    .layout {
        width : 90%;
    }
}

@media screen and (max-width : 680px) {
    .layout {
        width : 94%;
    }
}






/* header */

header {
    border-bottom: 1px solid rgb(226, 226, 226);
    margin-bottom: 20px;
}

.topmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline-block;
    font-size : 26px;
    font-weight: bold;
    padding : 15px 0;
}

.mark {
    margin-right: 5px;
}

.logo-left {
    color : #4b7c81;
}

.topmenu > div > ul > li {
    display: inline-block;
}

.topmenu > div > ul > li > a{
    display: inline-block;
    padding : 10px;
    font-weight: bold;
}

.ham-btn {
    /* display: none; */
    opacity: 0;
    transition: opacity 0.25s;
    display: none;
}


@media screen and (max-width:680px) {
    .right-menu {
        display: none;
    }


    .ham-btn {
        display: block;
        opacity: 1;
        font-size: 28px;
        right: 3%;
        top: 2%;
    }
}




/* Side Nav */


.sidenav {
    height: 100%;
    width : 0;
    position: fixed;
    top : 0;
    right: 0;
    z-index: -1;
    background-color: #4b7c81ec;
    padding: 10px 20px;
    display: block;
    opacity: 0;
    transition: all 0.25s;
}

.sidenav a {
    padding : 8px 60px;
    font-size: 18px;
    display: block;
    color: white;
    text-align: right;
    width : 50px;
}






/* main */

main {
    min-height: 640px;
    display: flex;
    align-items: center;
    justify-content: center;
}














/* footer */

footer{
    border-top: 1px solid rgb(226, 226, 226);
    text-align: center;
    margin-top: 30px;
}

footer span {
    display: inline-block;
    padding : 16px 0;
    color : rgb(105, 105, 105);
    font-size: 16px;
    font-weight: 200;
}